.cell {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 84px;
  height: 84px;
  margin-bottom: 12px;
  padding: 17px;
}

.cell__image {
  margin: auto;
  animation: appearance 0.1s linear;
  z-index: -1;
}

@keyframes appearance {
  from {
    width: 40%;
  }

  to {
    width: 100%;
  }
}