.result {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 410px;
}

.result__title {  
  @include text;
  margin-bottom: 25px;
  font-size: 50px;
  text-align: center;
  animation: show-title 1s linear;
}

@keyframes show-title {
  0% {
    font-size: 20px;
  }
  20% {
    font-size: 60px;
  }
  40% {
    font-size: 40px;
  }
  60% {
    font-size: 55px;
  }
  80% {
    font-size: 45px;
  }
}

.result__text {
  margin-bottom: 40px;
  font-size: 35px;
  font-family: monospace;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
}

@keyframes printed-text {
  0%, 40% {
    width: 0;
  } 
}

.result__button {
  @include button;
  margin: auto;
  opacity: 1;
  animation: button-show 5s linear;
}

@keyframes button-show {
  0%, 80% {
    opacity: 0;
  }
}