@font-face {
  font-family: "RocknRollOne";
  src: url("../fonts/RocknRollOne-Regular.woff2"),
    url("../fonts/RocknRollOne-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-Regular.woff2"),
    url("../fonts/Overpass-Regular.woff");
  font-weight: 400;
  font-style: normal;
}